.header {
    width: calc(100% - 250px);
    height: 80px;
    background-color: white;
    padding-left: 40px;
    color: black;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: 'GmarketSansBold', sans-serif;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
}
