.data-list-footer {
    min-height: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.data-list {
    list-style-type: none;
    text-align: start;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    border: #c4c7c9 1px solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    height: fit-content;
    box-sizing: content-box;
}

.data-item-header {
    width: 100%;
    min-height: 40px;
    border-radius: 5px 5px 0 0;
    display: flex;
    background-color: #F5F6FA;
    border-bottom: #D1D4D6 1px solid;
    align-items: center;
}

.data-item {
    min-height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
}

.data-name-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.data-name-container > * {
    overflow: hidden;
}

.sensor-name-input {
    font-family: 'GmarketSansMedium', sans-serif;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 16px;

}

.name-active::placeholder {
    color: black;
}

.sensor-name-input:focus {
    outline: none;
}

.sensor-name-submit {
    padding: 0;
    height: 60%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
}

.data-item-header > *, .data-item > * {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
    width: calc(100% / 4);
    overflow: auto;
    -ms-overflow-style: none;
}

.data-item-header > *::-webkit-scrollbar, .data-item > *::-webkit-scrollbar {
    display: none;
}

.data-item-header > *:not(:last-child) {
    border-right: #D1D4D6 1px solid;
}

.data-item > * {
    height: 100%;
    white-space: nowrap;
}

.data-item-header > * {
    height: 40px;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-item > *:not(:last-child) {
    border-right: #E8EBED 1px solid;
}

.data-item:nth-child(odd) {
    background-color: #F8F9FB;
}

.data-item:last-child {
    border-radius: 0 0 5px 5px;
}
