.data-list-header-container {
    width: 100%;
    min-height: 6%;
    height: 6%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: end;
    position: relative;
}

.data-list-header-container > * {
    display: flex;
    align-items: end;
}

.sensor-list-title {
    font-weight: bold;
    height: 100%;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.sensor-list-subtitle {
    height: 100%;
    font-size: 15px;
    padding: 0 0 3px 0;
    margin: 0 0 0 15px;
    color: #96989a;;
}

.sensor-size-select {
    position: absolute;
    right: 0;
}
