.sidebar {
    width: 250px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-nav a:not(.logo a) {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5% 6%;
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    margin: 15px 0;
    width: 75%;
}

.sidebar-nav a span {
    margin-right: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    color: black;
    font-size: 26px;
    font-family: 'GmarketSansBold', sans-serif;
    text-decoration: none;
}

.logo > span {
    background-color: #FC5D19;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    margin-right: 3px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.overlay.open {
    display: block;
}

.sidebar .sidebar-nav a.active {
    color: white;
}

.active {
    background-color: #FC5D19;
}

.sidebar-nav a:not(.logo a):hover {
    background-color: rgb(248, 249, 250);
    color: black;
}
