.main-content {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    padding: 20px;
    width: calc(100% - 250px);
    height: calc(100% - 80px);
    gap: 15px;
    overflow: auto;
}

.main-content h1 {
    color: black;
    margin-top: 20px;
    margin-left: 30px;
}

.chart-container {
    width: 100%;
    height: 100%;
}
